// COLORS
$color-primary: #00c2cc;
$color-primary-light: #4becf5;
$color-primary-dark: #009199;

$color-secondary-light: #d98cb3;
$color-secondary-dark: #ac3973;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #fff;
$color-grey-light-2: #fff;
$color-grey-dark: rgb(81, 89, 90);
$color-grey-dark-2: #4E413B;
$color-grey-dark-3:#006064 ;

$color-white: #fff;
$color-black: #00204A;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//margin
$margin-top-bottom-big: 10rem 0;
$margin-top-bottom-small: 2rem  0;
$margin-top-bottom-smaller: 1.5rem 0;
$margin-top-bottom: 5rem  0;

//padding
$padding-top-bottom-big: 10rem 0;
$padding-top-bottom: 5rem  0;
$padding-top-bottom-small: 2rem  0;
$margin-left: 4rem;