// grid design

.row {
  max-width: $grid-width;
  margin: 0 auto;
  @include clearfix;


  @include breakpoint(tab-port) {
    max-width: 50rem;
  }
  
  @include breakpoint(phone) {
    max-width: 50rem;
  }



  [class^="col"] {
    float: left;
      
    @include breakpoint(tab-port) {
        margin-bottom: 4rem;
      }
    
    &:not(:last-child) {
      margin-right: $gutter-vertical-small;
    }
  }


}

.col-1-of-2 {
  width: calc((100% - #{$gutter-vertical-small}) / 2);

  @include breakpoint(tab-port) {
    width: 100%;

  }
}

.col-1-of-3 {
  width: calc((100% - #{$gutter-vertical-small} * 2) / 3);

  @include breakpoint(tab-port) {
    width: 100%;
  }
}

.col-2-of-3 {
  width: calc(
    ((100% - #{$gutter-vertical-small} * 2) / 3) * 2 + #{$gutter-vertical-small}
  );

}

.col-1-of-4 {
  width: calc((100% - #{$gutter-vertical-small} * 3) / 4);
  // background-color: darkkhaki;

  @include breakpoint(tab-port) {
    width: 100%;
  }
}

.col-2-of-4 {
  width: calc(
    ((100% - #{$gutter-vertical-small} * 3) / 4) * 2 + #{$gutter-vertical-small}
  );
  background-color: fuchsia;
}

.col-3-of-4 {
  width: calc(
    ((100% - #{$gutter-vertical-small} * 3) / 4) * 3 + #{$gutter-vertical-small} *
      2
  );
  background-color: goldenrod;
}
