.middle {
  text-align: center !important;
  margin: 0 auto !important; 
}

.middle-4r-margin {
  text-align: center !important;
  margin: 8rem auto !important; 
  
}



.margin-top-bottom-2r {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

